.sign-up {
  text-align: center;
  font-family: Arial, sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
  font-family: Arial, sans-serif;
}

.error-message {
  color: red;
  margin-top: 10px;
}
