<div class="sign-up">
  <h2>Sign Up</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <div class="form-group">
      <input
        type="text"
        id="signupName"
        formControlName="name"
        required
        placeholder="Name: "
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        id="signupEmail"
        formControlName="email"
        required
        placeholder="Email: "
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        id="signupPassword"
        formControlName="password"
        placeholder="Password: "
        required
      />
    </div>
    <button type="submit">Sign Up</button>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>
