<div class="user-container">
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="openSettings()">Settings</button>
    <button mat-menu-item (click)="logOut()">Logout</button>
  </mat-menu>

  <div class="user-details">
    <span class="user-name">{{ user?.name }}</span>
    <div
      [matMenuTriggerFor]="userMenu"
      aria-label="User Menu"
      class="user-avatar"
    >
      <span class="avatar-letter">
        {{ user?.name?.charAt(0)?.toUpperCase() }}
      </span>
    </div>
  </div>
</div>
