<div class="user-container">
  <div class="user-info">
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item (click)="logOut()">Logout</button>
    </mat-menu>

    <div class="user-details">
      <div class="user-name">
        <strong> {{ user?.name }} </strong>
      </div>
      <div
        [matMenuTriggerFor]="userMenu"
        aria-label="User Menu"
        style="cursor: pointer"
        class="user-avatar"
      >
        <div class="avatar-content">
          {{ user?.name?.charAt(0)?.toUpperCase() }}
        </div>
      </div>
    </div>
  </div>
</div>
