<form [formGroup]="budgetForm" (ngSubmit)="onSubmit()" class="custom-dialog">
  <header class="form-header">Create Budget</header>
  <div class="form-group">
    <label for="budgetDescription" class="form-label">Description: </label>
    <input
      type="text"
      id="budgetDescription"
      formControlName="description"
      class="form-input"
    />
  </div>

  <div class="form-group">
    <label for="amount" class="form-label">Amount: </label>
    <input
      type="number"
      id="amount"
      formControlName="amount"
      class="form-input"
      placeholder="₱ 0 .00"
    />
  </div>

  <button type="submit" [disabled]="budgetForm.invalid" class="form-button">
    Submit
  </button>
</form>
