/* Header styles */
/* body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
.header {
  height: 100vh;
  color: #3498db;
  display: flex;
}
.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.auth p {
  margin: 0; 
  align-self: center; 
} */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.nav-div {
  height: 50px;

  margin-bottom: 10px;
  background-color: #2a97bd;
  display: flex;
}
ul {
  list-style-type: none; /* Remove the default bullet point */
  display: flex;
  text-align: center;
  justify-content: center;
}
li {
  padding: 12px;
  font-size: 20px;
  color: #344150;
  font-family: Arial, sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
}
a {
  text-decoration: none; /* Remove the default underline */
  color: #344150;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
}
.landing {
  display: flex;
  justify-content: space-around;
}
.form {
  margin-left: 50px;
  width: 400px;
  margin-bottom: 10px;
}
.logo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
