<div class="custom-dialog">
  <h2 class="form-header">Add Income</h2>
  <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="source" class="form-label">Source</label>
      <input type="text" id="source" formControlName="source" class="form-input" placeholder="e.g. Salary, Freelance" />
    </div>

    <div class="form-group">
      <label class="form-label">Source Account</label>
      <select name="source_account" formControlName="source_account" required class="form-input">
        <option *ngFor="let account of accounts" [value]="account">
          {{ account }}
        </option>
      </select>
    </div>

    <div
      class="form-group"
      *ngIf="incomeForm.get('source_account')?.value === 'MANUAL'"
    >
      <label for="amount" class="form-label">Amount</label>
      <input type="number" id="amount" formControlName="amount" class="form-input" placeholder="0.00" />
    </div>

    <button type="submit" [disabled]="!incomeForm.valid" class="form-button">
      Add Income
    </button>
  </form>
</div>
