<div class="dashboard-content">
  <div class="category">
    <h2>Expenses</h2>
    <div class="pie-chart" *ngIf="budgets">
      <app-pie-chart></app-pie-chart>
    </div>
    <p>
      Total Expenses this Month:
      {{ getTotalExpenses() | currency : "PHP" : "symbol" : "1.2-2" }}
    </p>
  </div>
  <div class="category">
    <h2>Savings Plan</h2>
  </div>
  <div class="category">
    <h2>Bills</h2>
    <div *ngFor="let bill of filterBillsDueThisMonth()">
      <div class="bill-item">
        <input type="checkbox" [(ngModel)]="bill.isPaid" disabled />
        <p>{{ bill.biller }}</p>
        <p>
          {{ bill.amount | currency : "PHP" : "symbol" : "1.2-2" }}
        </p>
      </div>
    </div>
  </div>
</div>
