<div class="budget-button" style="text-align: right">
  <button mat-button (click)="openCreateBillDialog()">Add Income</button>
</div>
<div class="budget-parent">
  <div class="card-container">
    <mat-card class="custom-card" *ngFor="let income of incomes">
      <mat-card-content>
        <h3>{{ income.source }}</h3>
        <p *ngIf="income.source_account === 'MANUAL'">
          Amount:
          {{ income.amount | currency : "PHP" : "symbol" : "1.2-2" }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="total-income" style="text-align: center">
  <p style="color: red; font-family: Arial, Helvetica, sans-serif">
    Total Income: {{ totalIncomes | currency : "PHP" : "symbol" : "1.2-2" }}
  </p>
</div>
