/* Style for the navigation links */

.parent-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-list {
  list-style: none;
  padding: 0;
}

.nav-list li {
  margin-bottom: 10px; /* Add spacing between the links */
}

.nav-list a {
  text-decoration: none; /* Remove underline from links */
  font-size: 20px; /* Increase text size (adjust as needed) */
  font-family: Arial, sans-serif; /* Use Arial and sans-serif font stack */
  color: black; /* Set link color to blue  */
}

.nav-list a.active-link {
  font-weight: bold; /* Highlight the active link by making it bold */
  color: #2980b9; /* Change link color on hover (optional) */
}

.nav-list a:hover {
  color: #2980b9; /* Change link color on hover (optional) */
}

/* Style for the user profile component within the footer */
.user-profile {
}
