<div class="sidebar-inner">
  <div class="sidebar-brand">
    <img src="./assets/images/bb.png" class="sidebar-logo" alt="BudgetBuddy" />
    <h2 class="sidebar-title">BudgetBuddy</h2>
  </div>

  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li>
        <a [routerLink]="['/home/dashboard']" routerLinkActive="nav-active">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/income']" routerLinkActive="nav-active">
          <mat-icon>monetization_on</mat-icon>
          <span>Income</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/budget']" routerLinkActive="nav-active">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>Budgets</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/expenses']" routerLinkActive="nav-active">
          <mat-icon>receipt</mat-icon>
          <span>Expenses</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/savings']" routerLinkActive="nav-active">
          <mat-icon>account_balance</mat-icon>
          <span>Savings Plan</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/bills']" routerLinkActive="nav-active">
          <mat-icon>payment</mat-icon>
          <span>Bills</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
