<div class="parent-container">
  <div>
    <div class="homepage-heading">
      <img src="./assets/images/bb.png" style="height: 150px" />
      <h2>Budget Buddy</h2>
    </div>
    <div>
      <ul class="nav-list">
        <!-- Dashboard Link with MatIcon -->
        <div>
          <li>
            <a
              [routerLink]="['/home/dashboard']"
              routerLinkActive="active-link"
            >
              <mat-icon>dashboard</mat-icon>
              Dashboard
            </a>
          </li>
        </div>
        <!-- Income Link with MatIcon -->
        <div>
          <li>
            <a [routerLink]="['/home/income']" routerLinkActive="active-link">
              <mat-icon>monetization_on</mat-icon>
              Income
            </a>
          </li>
        </div>
        <!-- Budgets Link with MatIcon -->
        <div>
          <li>
            <a [routerLink]="['/home/budget']" routerLinkActive="active-link">
              <mat-icon>account_balance_wallet</mat-icon>
              Budgets
            </a>
          </li>
        </div>
        <!-- Expenses Link with MatIcon -->
        <div>
          <li>
            <a [routerLink]="['/home/expenses']" routerLinkActive="active-link">
              <mat-icon>receipt</mat-icon>
              Expenses
            </a>
          </li>
        </div>
        <!-- Savings Plan Link with MatIcon -->
        <div>
          <li>
            <a
              [routerLink]="['/home/savings-plan']"
              routerLinkActive="active-link"
            >
              <mat-icon>account_balance</mat-icon>
              Savings Plan
            </a>
          </li>
        </div>
        <!-- Bills Link with MatIcon -->
        <div>
          <li>
            <a [routerLink]="['/home/bills']" routerLinkActive="active-link">
              <mat-icon>payment</mat-icon>
              Bills
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
