.expense-container {
  display: flex;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 70%;
  font-family: Arial, sans-serif;
  margin-top: 5px;
  overflow-y: auto; /* Add scrollbars if content overflows */
}
.expense-button button {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  align-items: center; /* Center cards horizontally */
  flex: 1; /* Grow to take the remaining space */
}

.custom-card {
  width: 500px;
  height: 250px;
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-card:hover {
  transform: scale(1.05);
}

.custom-card h3 {
  font-size: 1.3rem;
  margin: 0;
  color: #333;
}

.custom-card-amount {
  font-size: 1rem;
  color: #555;
  text-align: right;
  align-self: flex-end;
}

/* New styles for edit mode */
.edit-mode {
  display: flex;
  flex-direction: column;
}

.edit-mode input,
.edit-mode select {
  margin-bottom: 10px;
  padding: 5px;
}

.edit-button,
.update-button,
.cancel-button {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

.update-button {
  background-color: #2980b9;
}

.cancel-button {
  background-color: #c0392b; /* Cancel button color */
}
