.flex-container {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.app-homepage {
  flex: 1;
  background-color: #252525;
  padding: 20px;
  margin: 0;
}

.router-outlet {
  flex: 60%;
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
}
.header {
  width: auto; /* Allow it to take the necessary width */
  display: flex;
  align-items: center; /* Center vertically */
}
.header app-user {
  margin-left: auto; /* Push app-user to the right by using auto margin on the left side */
  margin-bottom: 5rem;
}
