<div class="bill-button" style="text-align: right">
  <button (click)="openCreateBillDialog()" mat-button>Add Bill</button>
</div>
<div class="bill-parent">
  <div>
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="showUnpaid" />
        Unpaid Bills
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="showPaid" />
        Paid Bills
      </label>
    </div>
  </div>
  <div class="card-container">
    <mat-card
      class="custom-card"
      *ngFor="let bill of bills | billFilter : showPaid : showUnpaid"
    >
      <mat-card-content>
        <span style="color: red">Due: {{ formatDueDate(bill.dueDay) }}</span>
        <h3>{{ bill.biller }}</h3>
        <p>Amount: {{ bill.amount | currency : "PHP" : "symbol" : "1.2-2" }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
